body{
    font-family:'Franklin Gothic Medium';
    margin: 0;
    background-color: #282654;
}

.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform 0.5s;
}
.title{
    color:#eee;
    font-size: larger;
    font-family: fantasy;
    
}
.open-cart{
    background-color: #282654;
    border: none;
    width: 300px;
}
svg{
    width: 30px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
header .icon-cart{
    position:relative;
}
header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute; 
    top: 50%;
    right: -20px;
}

.listProduct .item img{
    width: 80%;
    filter: drop-shadow(0 10px 10px #0009);
    height: 250px;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #eee;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.listProduct .item .addCart{
    padding: 5px;
    border-radius: 20px;
    background-color: #353432;
    color: #eee;
    margin-top: 3px;
}
.listProduct .item .minus{
    border-radius: 10px;
    border-style: dotted;
    background-color: #353432;
    color: #eee;
    margin-top: 5px;
}
.listProduct .item .plus{
    border-radius: 10px;
    border-style: dotted;
    background-color: #353432;
    color: #eee;
    margin-top: 5px;
}
.cartTab{
    position: relative;
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
}
body.showCart .cartTab{
    inset: 0 0 0 auto;
}
body.showCart .container{
    transform: translateX(-150px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
    text-align: center;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.cartTab .btn button{
    background-color: #E8BC0E;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .listCart .item img{
    width: 30px;
    height: 30px;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
#amount {
    position: absolute;
    bottom: 50px; 
    right: 100px;   
    padding: 20px;
    color: #c4c3c3;
}