body{
    font-family:'Franklin Gothic Medium';
    margin: 0;
}

.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
svg{
    width: 30px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
header .icon-cart{
    position:relative;
}
header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute; 
    top: 50%;
    right: -20px;
}

.listProduct .item img{
    width: 80%;
    filter: drop-shadow(0 10px 10px #0009);
    height: 250px;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #eee;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.listProduct .item .addCart{
    padding: 5px;
    border-radius: 20px;
    background-color: #353432;
    color: #eee;
    margin-top: 3px;
}
.listProduct .item .minus{
    border-radius: 10px;
    border-style: dotted;
    background-color: #353432;
    color: #eee;
    margin-top: 5px;
}
.listProduct .item .plus{
    border-radius: 10px;
    border-style: dotted;
    background-color: #353432;
    color: #eee;
    margin-top: 5px;
}